# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files (secrets)
.env
.env.local
.env*.local

# locally saved generated songs
/generated-songs

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
